RESTIC_REPOSITORY={{ ("s3:https://s3." ~ aws_region ~ ".amazonaws.com/" ~ backup_bucket) | quote }}
RESTIC_PASSWORD={{ restic_password | quote }}
AWS_ACCESS_KEY_ID={{ aws_access_key_id | quote }}
AWS_SECRET_ACCESS_KEY={{ aws_secret_access_key | quote }}
